{
	"printWidth": 80,
	"tabWidth": 2,
	"trailingComma": "es5",
	"semi": true,
	"htmlWhitespaceSensitivity": "css",
	"quoteProps": "as-needed",
	"bracketSpacing": true,
	"singleQuote": true,
	"overrides": [
		{
			"files": "*.css",
			"options": {
				"parser": "css"
			}
		},
		{
			"files": "*.scss",
			"options": {
				"parser": "scss"
			}
		}
	]
}
